<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- TODO: launchd job spec for poll.sh (Label, ProgramArguments, StartInterval=300, StandardOutPath, StandardErrorPath, EnvironmentVariables sourced from .env). -->
  </dict>
</plist>
